@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;		
}

*::-webkit-scrollbar:vertical {
  width: 8px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {		
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

.slider-conteiner{
  margin: 0 auto;
}

#slider-conteiner{
  margin:0 auto ; 
}