@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;		
}

*::-webkit-scrollbar:vertical {
  width: 8px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {		
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}

.slider-conteiner{
  margin: 0 auto;
}

#slider-conteiner{
  margin:0 auto ; 
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid orange;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

.text {
  display: inline-block;
  animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* .hola:hover{
  background-image: url("https://s3.amazonaws.com/kia.com.co/small_picanto_x_9693f2d236.png");
  background-repeat: contain; 
} */