@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.hero {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../assets/maxHero1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

*::-webkit-scrollbar {
  -webkit-appearance: none;		
}

*::-webkit-scrollbar:vertical {
  width: 8px;
}

*::-webkit-scrollbar-button:increment,
*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar:horizontal {		
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
}